*.png
*.jpg
*.tar
*.zip
*.pth
*.pkl
*.bin
pretrain_model/models--microsoft--swin-large-patch4-window12-384
checkpoint_list
datasets/annotation_dataset_586
datasets/annotation_dataset_586_9
datasets/annotation_dataset_586_11
datasets/annotation_dataset_586_11_black_w_color
datasets/annotation_dataset_586_11_black_w_color_890
datasets/annotation_dataset_586_11_black_w_color_1127
datasets/annotation_dataset_586_11_black_w_color_1179
datasets/annotation_dataset_586_11_only_black
datasets/annotation_dataset_586_11_only_color
output_test
post_process
post_process_data
postprocess
temp
temp_black
temp_black_w_color
temp_color_big
客户彩底
客户彩底_c
家具第一批-完成1026组
接口测试图像
接口测试图像_training
金牌测试
pretrain_model
detectron2