*.png
*.jpg
*.tar
*.zip
datasets/ADEChallengeData2016
datasets/FloorPlan
datasets/ADEChallengeData2016.zip
datasets/ade20k_instance_catid_mapping.txt
datasets/ade20k_instance_imgCatIds.json
OOD
OOD_result
output
output_179
pretrain_model
result
result_floorplan
result_floorplan_test
result_floorplan_validation